// $color-lighten: #a7d6dd;
// $color-light: #95cdd6;
// $color-base: #70BCC8;
// $color-dark: #4babba;
// $color-darken: #419caa;

$color-lighten: #a4d7ea;
$color-light: #8fcde5;
$color-base: #66bbdb;
$color-dark: #3da9d1;
$color-darken: #2f9dc6;